In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('titanic.csv')
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Удаляем строки с пустыми значеними
data_test = data.dropna()

X_ = data_test.drop(['Survived', 'PassengerId'], axis=1)
y = data_test['Survived']

X = pd.get_dummies(X_)

In [60]:
from sklearn.model_selection import cross_val_score
from random import randint
from sklearn import metrics
from sklearn.metrics.scorer import make_scorer
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score

# SVC

In [61]:
from sklearn import svm

Random Search

In [68]:
best_score = {'test_score': float(0), 'train_score': float(0)}
best_params = {'C': None, 'gamma': None}

for i in range(10):
    C = randint(1, 9)
    gamma=randint(1, 3)
    kernel='linear'
    
    svc = svm.SVC(C=C, gamma=gamma, kernel=kernel)
    scores = cross_validate(
        svc, X, y, cv=5, scoring='neg_mean_absolute_error', return_train_score=True)
    
    if scores['test_score'].mean() > best_score['test_score']:
        best_score['test_score'] = scores['test_score'].mean()
        best_score['train_score'] = scores['train_score'].mean()
        best_params['C'] = C
        best_params['gamma'] = gamma

best_score, best_params

({'test_score': 0.0, 'train_score': 0.0}, {'C': None, 'gamma': None})

# KNeighborsClassifier

In [64]:
from sklearn.neighbors import KNeighborsClassifier

Random Search

In [66]:
best_score = {'test_score': float(0), 'train_score': float(0)}
best_params = {'n_neighbors': None}

for i in range(10):
    n_neighbors = randint(1, 5)

    neigh = KNeighborsClassifier(n_neighbors=n_neighbors)
    scores = cross_validate(
        svc, X, y, cv=5, scoring='average_precision', return_train_score=True)

    if scores['test_score'].mean() > best_score['test_score']:
        best_score['test_score'] = scores['test_score'].mean()
        best_score['train_score'] = scores['train_score'].mean()
        best_params['n_neighbors'] = n_neighbors

best_score, best_params

({'test_score': 0.9235552955286448, 'train_score': 1.0}, {'n_neighbors': 1})