In [32]:
import pandas as pd
import numpy as np

In [33]:
data = pd.read_csv('titanic.csv')
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [65]:
X_ = data.drop(['Survived', 'PassengerId'], axis=1)
y = data['Survived']

X = pd.get_dummies(X_)

In [66]:
from sklearn.model_selection import train_test_split
from sklearn import svm

In [67]:
num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=num_test, random_state=25)

In [68]:
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').